<div class="hero_section" id = "hero_section_meals">
    <p>Our meal packages</p>
  <img src="images/meals_pizza.jpg" >
</div>
<div class="medim_header" id = "medim_header_meals">
  <ul>
    <li><p>Pick a package, choose your meals, achive your goals! - it's that easy!</p></li>
  </ul>
</div>
<div class="top_meal_packages" id = "table_meals">
  <table>
    {{#each data}}
    <tr>
      <td> <a href="/packages/{{_id}}"><img src="{{image}}" style="width: 280px; height: 210px;" alt=""></a> </td>
      <td><b><i> <a href="/packages/{{_id}}">{{title}}</a> </i></b> CA${{price}}</td>

      <td> <p class = "limitWords">{{synopsis}}</p> </td>
    </tr>
    {{/each}}
  </table>
</div>
<div class="footer_image" id = "footer_image_meals">
  <h1>No one will be hungry!</h1>
  <h3>Free delivery, skip or cancel anytime.</h3>
  <img src="images/meals_footer.jpg" >
</div>
